* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f7f2f2;
  color: rgb(10, 9, 9);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #ff7e5f, #0bb922); /* Added linear gradient */
}

h1, h2, h3 {
  margin-bottom: 20px;
  color: rgb(12, 5, 5);
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 20%;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
